html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('../lmage/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}